---
import NavigationCard from "../components/NavigationCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Avao | Instituto Oftalmologico">
  <section
    style={{ backgroundImage: 'url("/backgrounds/home-bg.png")' }}
    class="flex flex-col justify-end flex-auto gap-y-8 px-6 bg-cover bg-center bg-no-repeat"
  >
    <article class="max-w-[520px]">
      <h1 class="font-extrabold text-4xl mb-1 text-gunmetal">
        ¿Quiénes somos?
      </h1>
      <span class="font-medium text-2xl text-gunmetal">
        Lorem ipsum dolor sit
      </span>

      <p class="text-lg mt-6 text-gunmetal">
        Cupidatat in in fugiat consectetur. Adipisicing aute occaecat aliquip ad
        ullamco mollit cupidatat occaecat esse. Excepteur ullamco ex excepteur
        aute nostrud Lorem dolor dolor occaecat anim. Cupidatat id cupidatat do
        sunt.
      </p>
    </article>

    <div class="flex gap-6">
      <NavigationCard to="/evento-anual" title="Evento Anual" type="base" />
      <NavigationCard to="/pensum" title="Pensum" type="light" />
      <NavigationCard
        to="/pacientes"
        title="Requisitos para la atención de pacientes"
        type="base"
      />
    </div>
  </section>
</Layout>
