---
import { Image } from "astro:assets";
import AsideMenu from "./AsideMenu.jsx";
import Logo from "../assets/img/avao_logo.png";
---

<header class="fixed inset-x-0">
  <div class="flex items-center gap-6 mx-auto py-8 max-w-7xl">
    <Image src={Logo} alt={"Logo de Avao"} width={234} />

    <address
      class="flex items-center justify-center gap-4 px-8 py-4 border rounded-2xl bg-white border-zinc-400"
    >
      <a href="tel:+584241182257" class="not-italic">+58 424 118 2257</a>
      <a href="mailto:jim@example.com" class="not-italic">avao@support.com</a>
    </address>

    <label
      class="flex flex-auto items-center gap-3 py-1 px-2 border rounded-2xl overflow-hidden bg-white border-zinc-400"
    >
      <i class="bi bi-search text-gray"></i>
      <input
        type="text"
        placeholder="¿Qué estas buscando?"
        class="outline-none w-full"
      />
    </label>

    <AsideMenu client:visible/>
  </div>

 
</header>
